<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>weight</key>
		<integer>0</integer>
		<key>jpName</key>
		<string></string>
		<key>enName</key>
		<string></string>
		<key>code</key>
		<string>Select</string>
	</dict>
	<dict>
		<key>code</key>
		<string>H</string>
		<key>weight</key>
		<real>1.008</real>
		<key>enName</key>
		<string>Hydrogen</string>
		<key>jpName</key>
		<string>水素</string>
	</dict>
	<dict>
		<key>code</key>
		<string>He</string>
		<key>weight</key>
		<real>4.003</real>
		<key>enName</key>
		<string>Helium</string>
		<key>jpName</key>
		<string>ヘリウム</string>
	</dict>
	<dict>
		<key>code</key>
		<string>Li</string>
		<key>weight</key>
		<real>6.941</real>
		<key>enName</key>
		<string>Lithium</string>
		<key>jpName</key>
		<string>リチウム</string>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ベリリウム</string>
		<key>enName</key>
		<string>Beryllium</string>
		<key>code</key>
		<string>Be</string>
		<key>weight</key>
		<real>9.012</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ホウ素</string>
		<key>enName</key>
		<string>Boron</string>
		<key>code</key>
		<string>B</string>
		<key>weight</key>
		<real>10.81</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>炭素</string>
		<key>enName</key>
		<string>Carbon</string>
		<key>code</key>
		<string>C</string>
		<key>weight</key>
		<real>12.01</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>窒素</string>
		<key>enName</key>
		<string>Nitrogen</string>
		<key>code</key>
		<string>N</string>
		<key>weight</key>
		<real>14.01</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>酸素</string>
		<key>enName</key>
		<string>Oxygen</string>
		<key>code</key>
		<string>O</string>
		<key>weight</key>
		<real>16</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>フッ素</string>
		<key>enName</key>
		<string>Fluorine</string>
		<key>code</key>
		<string>F</string>
		<key>weight</key>
		<real>19</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ネオン</string>
		<key>enName</key>
		<string>Neon</string>
		<key>code</key>
		<string>Ne</string>
		<key>weight</key>
		<real>20.18</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ナトリウム</string>
		<key>enName</key>
		<string>Sodium</string>
		<key>code</key>
		<string>Na</string>
		<key>weight</key>
		<real>22.99</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>マグネシウム</string>
		<key>enName</key>
		<string>Magnesium</string>
		<key>code</key>
		<string>Mg</string>
		<key>weight</key>
		<real>24.31</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>アルミニウム</string>
		<key>enName</key>
		<string>Aluminium</string>
		<key>code</key>
		<string>Al</string>
		<key>weight</key>
		<real>26.98</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ケイ素</string>
		<key>enName</key>
		<string>Sillicon</string>
		<key>code</key>
		<string>Si</string>
		<key>weight</key>
		<real>28.09</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>リン</string>
		<key>enName</key>
		<string>Phosphorus</string>
		<key>code</key>
		<string>P</string>
		<key>weight</key>
		<real>30.97</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>硫黄</string>
		<key>enName</key>
		<string>Sulfur</string>
		<key>code</key>
		<string>S</string>
		<key>weight</key>
		<real>32.07</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>塩素</string>
		<key>enName</key>
		<string>Chlorine</string>
		<key>code</key>
		<string>Cl</string>
		<key>weight</key>
		<real>35.45</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>アルゴン</string>
		<key>enName</key>
		<string>Argon</string>
		<key>code</key>
		<string>Ar</string>
		<key>weight</key>
		<real>39.95</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>カリウム</string>
		<key>enName</key>
		<string>Potassium</string>
		<key>code</key>
		<string>K</string>
		<key>weight</key>
		<real>39.1</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>カルシウム</string>
		<key>enName</key>
		<string>Calcium</string>
		<key>code</key>
		<string>Ca</string>
		<key>weight</key>
		<real>40.08</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>スカンジウム</string>
		<key>enName</key>
		<string>Scandium</string>
		<key>code</key>
		<string>Sc</string>
		<key>weight</key>
		<real>44.96</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>チタン</string>
		<key>enName</key>
		<string>Titanium</string>
		<key>code</key>
		<string>Ti</string>
		<key>weight</key>
		<real>47.88</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>バナジウム</string>
		<key>enName</key>
		<string>Vanadium</string>
		<key>code</key>
		<string>V</string>
		<key>weight</key>
		<real>50.94</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>クロム</string>
		<key>enName</key>
		<string>Chromium</string>
		<key>code</key>
		<string>Cr</string>
		<key>weight</key>
		<real>52</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>マンガン</string>
		<key>enName</key>
		<string>Manganese</string>
		<key>code</key>
		<string>Mn</string>
		<key>weight</key>
		<real>54.94</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>鉄</string>
		<key>enName</key>
		<string>Iron</string>
		<key>code</key>
		<string>Fe</string>
		<key>weight</key>
		<real>55.85</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>コバルト</string>
		<key>enName</key>
		<string>Chobalt</string>
		<key>code</key>
		<string>Co</string>
		<key>weight</key>
		<real>58.93</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ニッケル</string>
		<key>enName</key>
		<string>Nickel</string>
		<key>code</key>
		<string>Ni</string>
		<key>weight</key>
		<real>58.69</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>銅</string>
		<key>enName</key>
		<string>Copper</string>
		<key>code</key>
		<string>Cu</string>
		<key>weight</key>
		<real>63.55</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>亜鉛</string>
		<key>enName</key>
		<string>Zinc</string>
		<key>code</key>
		<string>Zn</string>
		<key>weight</key>
		<real>65.39</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ガリウム</string>
		<key>enName</key>
		<string>Gallium</string>
		<key>code</key>
		<string>Ga</string>
		<key>weight</key>
		<real>69.72</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ゲルマニウム</string>
		<key>enName</key>
		<string>Germanium</string>
		<key>code</key>
		<string>Ge</string>
		<key>weight</key>
		<real>72.61</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ヒ素</string>
		<key>enName</key>
		<string>Arsenic</string>
		<key>code</key>
		<string>As</string>
		<key>weight</key>
		<real>74.92</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>セレン</string>
		<key>enName</key>
		<string>Selenium</string>
		<key>code</key>
		<string>Se</string>
		<key>weight</key>
		<real>78.95999999999999</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>臭素</string>
		<key>enName</key>
		<string>Bromine</string>
		<key>code</key>
		<string>Br</string>
		<key>weight</key>
		<real>79.90000000000001</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>クリプトン</string>
		<key>enName</key>
		<string>Krypton</string>
		<key>code</key>
		<string>Kr</string>
		<key>weight</key>
		<real>83.8</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ルビジウム</string>
		<key>enName</key>
		<string>Rubidium</string>
		<key>code</key>
		<string>Rb</string>
		<key>weight</key>
		<real>85.47</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ストロンチウム</string>
		<key>enName</key>
		<string>Strontium</string>
		<key>code</key>
		<string>Sr</string>
		<key>weight</key>
		<real>87.62</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>イットリウム</string>
		<key>enName</key>
		<string>Yttrium</string>
		<key>code</key>
		<string>Y</string>
		<key>weight</key>
		<real>88.91</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ジルコニウム</string>
		<key>enName</key>
		<string>Zirconium</string>
		<key>code</key>
		<string>Zr</string>
		<key>weight</key>
		<real>91.22</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ニオブ</string>
		<key>enName</key>
		<string>Niobium</string>
		<key>code</key>
		<string>Nb</string>
		<key>weight</key>
		<real>92.91</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>モリブデン</string>
		<key>enName</key>
		<string>Molybdenum</string>
		<key>code</key>
		<string>Mo</string>
		<key>weight</key>
		<real>95.94</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>テクネチウム</string>
		<key>enName</key>
		<string>Technetium</string>
		<key>code</key>
		<string>Tc</string>
		<key>weight</key>
		<real>99</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ルテニウム</string>
		<key>enName</key>
		<string>Rutenium</string>
		<key>code</key>
		<string>Ru</string>
		<key>weight</key>
		<real>101.1</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ロジウム</string>
		<key>enName</key>
		<string>Rhodium</string>
		<key>code</key>
		<string>Rh</string>
		<key>weight</key>
		<real>102.9</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>パラジウム</string>
		<key>enName</key>
		<string>Palladium</string>
		<key>code</key>
		<string>Pd</string>
		<key>weight</key>
		<real>106.4</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>銀</string>
		<key>enName</key>
		<string>Silver</string>
		<key>code</key>
		<string>Ag</string>
		<key>weight</key>
		<real>107.9</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>カドミウム</string>
		<key>enName</key>
		<string>Cadmium</string>
		<key>code</key>
		<string>Cd</string>
		<key>weight</key>
		<real>112.4</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>インジウム</string>
		<key>enName</key>
		<string>Indium</string>
		<key>code</key>
		<string>In</string>
		<key>weight</key>
		<real>114.8</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>スズ</string>
		<key>enName</key>
		<string>Tin</string>
		<key>code</key>
		<string>Sn</string>
		<key>weight</key>
		<real>118.7</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>アンチモン</string>
		<key>enName</key>
		<string>Antimony</string>
		<key>code</key>
		<string>Sb</string>
		<key>weight</key>
		<real>121.8</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>テルル</string>
		<key>enName</key>
		<string>Tellurium</string>
		<key>code</key>
		<string>Te</string>
		<key>weight</key>
		<real>127.6</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ヨウ素</string>
		<key>enName</key>
		<string>Iodine</string>
		<key>code</key>
		<string>I</string>
		<key>weight</key>
		<real>126.9</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>キセノン</string>
		<key>enName</key>
		<string>Xenon</string>
		<key>code</key>
		<string>Xe</string>
		<key>weight</key>
		<real>131.3</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>セシウム</string>
		<key>enName</key>
		<string>Caesium</string>
		<key>code</key>
		<string>Cs</string>
		<key>weight</key>
		<real>132.9</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>バリウム</string>
		<key>enName</key>
		<string>Barium</string>
		<key>code</key>
		<string>Ba</string>
		<key>weight</key>
		<real>137.3</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ランタン</string>
		<key>enName</key>
		<string>lanthanum</string>
		<key>code</key>
		<string>La</string>
		<key>weight</key>
		<real>138.9</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>セリウム</string>
		<key>enName</key>
		<string>Cerium</string>
		<key>code</key>
		<string>Ce</string>
		<key>weight</key>
		<real>140.1</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>プラセオジム</string>
		<key>enName</key>
		<string>praseodymium</string>
		<key>code</key>
		<string>Pr</string>
		<key>weight</key>
		<real>140.9</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ネオジム</string>
		<key>enName</key>
		<string>Neodymium</string>
		<key>code</key>
		<string>Nd</string>
		<key>weight</key>
		<real>144.2</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>プロメチウム</string>
		<key>enName</key>
		<string>Promethium</string>
		<key>code</key>
		<string>Pm</string>
		<key>weight</key>
		<real>145</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>サマリウム</string>
		<key>enName</key>
		<string>Samarium</string>
		<key>code</key>
		<string>Sm</string>
		<key>weight</key>
		<real>150.4</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ユウロピウム</string>
		<key>enName</key>
		<string>Europium</string>
		<key>code</key>
		<string>Eu</string>
		<key>weight</key>
		<real>152</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ガドリニウム</string>
		<key>enName</key>
		<string>Gadolinium</string>
		<key>code</key>
		<string>Gd</string>
		<key>weight</key>
		<real>157.3</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>テルビウム</string>
		<key>enName</key>
		<string>Terbium</string>
		<key>code</key>
		<string>Tb</string>
		<key>weight</key>
		<real>158.9</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ジスプロシウム</string>
		<key>enName</key>
		<string>Dysprosium</string>
		<key>code</key>
		<string>Dy</string>
		<key>weight</key>
		<real>162.5</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ホルミウム</string>
		<key>enName</key>
		<string>Holmium</string>
		<key>code</key>
		<string>Ho</string>
		<key>weight</key>
		<real>164.9</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>エルビウム</string>
		<key>enName</key>
		<string>Erbium</string>
		<key>code</key>
		<string>Er</string>
		<key>weight</key>
		<real>167.3</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ツリウム</string>
		<key>enName</key>
		<string>Thulium</string>
		<key>code</key>
		<string>Tm</string>
		<key>weight</key>
		<real>168.9</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>イッテルビウム</string>
		<key>enName</key>
		<string>Ytterbium</string>
		<key>code</key>
		<string>Yb</string>
		<key>weight</key>
		<real>173</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ルテチウム</string>
		<key>enName</key>
		<string>Lutetium</string>
		<key>code</key>
		<string>Lu</string>
		<key>weight</key>
		<real>175</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ハフニウム</string>
		<key>enName</key>
		<string>Hafnium</string>
		<key>code</key>
		<string>Hf</string>
		<key>weight</key>
		<real>178.5</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>タンタル</string>
		<key>enName</key>
		<string>Tantalum</string>
		<key>code</key>
		<string>Ta</string>
		<key>weight</key>
		<real>180.9</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>タングステン</string>
		<key>enName</key>
		<string>Tangsten</string>
		<key>code</key>
		<string>W</string>
		<key>weight</key>
		<real>183.8</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>レニウム</string>
		<key>enName</key>
		<string>Rhenium</string>
		<key>code</key>
		<string>Re</string>
		<key>weight</key>
		<real>186.2</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>オスミウム</string>
		<key>enName</key>
		<string>Osmium</string>
		<key>code</key>
		<string>Os</string>
		<key>weight</key>
		<real>190.2</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>イリジウム</string>
		<key>enName</key>
		<string>Iridium</string>
		<key>code</key>
		<string>Ir</string>
		<key>weight</key>
		<real>192.2</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>白金</string>
		<key>enName</key>
		<string>Platinium</string>
		<key>code</key>
		<string>Pt</string>
		<key>weight</key>
		<real>195.1</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>金</string>
		<key>enName</key>
		<string>Gold</string>
		<key>code</key>
		<string>Au</string>
		<key>weight</key>
		<real>197</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>水銀</string>
		<key>enName</key>
		<string>Mercury</string>
		<key>code</key>
		<string>Hg</string>
		<key>weight</key>
		<real>200.6</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>タリウム</string>
		<key>enName</key>
		<string>Thallium</string>
		<key>code</key>
		<string>TI</string>
		<key>weight</key>
		<real>204.4</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>鉛</string>
		<key>enName</key>
		<string>Lead</string>
		<key>code</key>
		<string>Pb</string>
		<key>weight</key>
		<real>207.2</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ビスマス</string>
		<key>enName</key>
		<string>Bismuth</string>
		<key>code</key>
		<string>Bi</string>
		<key>weight</key>
		<real>209</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ポロニウム</string>
		<key>enName</key>
		<string>Polonium</string>
		<key>code</key>
		<string>Po</string>
		<key>weight</key>
		<real>210</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>アスタチン</string>
		<key>enName</key>
		<string>Actinium</string>
		<key>code</key>
		<string>At</string>
		<key>weight</key>
		<real>210</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ラドン</string>
		<key>enName</key>
		<string>Radon</string>
		<key>code</key>
		<string>Rn</string>
		<key>weight</key>
		<real>222</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>フランシウム</string>
		<key>enName</key>
		<string>Francium</string>
		<key>code</key>
		<string>Fr</string>
		<key>weight</key>
		<real>223</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ラジウム</string>
		<key>enName</key>
		<string>Randium</string>
		<key>code</key>
		<string>Ra</string>
		<key>weight</key>
		<real>226</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>アクチニウム</string>
		<key>enName</key>
		<string>Actinium</string>
		<key>code</key>
		<string>Ac</string>
		<key>weight</key>
		<real>227</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>トリウム</string>
		<key>enName</key>
		<string>Thorium</string>
		<key>code</key>
		<string>Th</string>
		<key>weight</key>
		<real>232</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>プロトアクチニウム</string>
		<key>enName</key>
		<string>Protactinium</string>
		<key>code</key>
		<string>Pa</string>
		<key>weight</key>
		<real>231</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ウラン</string>
		<key>enName</key>
		<string>Uranium</string>
		<key>code</key>
		<string>U</string>
		<key>weight</key>
		<real>238</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ネプツニウム</string>
		<key>enName</key>
		<string>Neptunium</string>
		<key>code</key>
		<string>Np</string>
		<key>weight</key>
		<real>237</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>プルトニウム</string>
		<key>enName</key>
		<string>Plutonium</string>
		<key>code</key>
		<string>Pu</string>
		<key>weight</key>
		<real>239</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>アメリシウム</string>
		<key>enName</key>
		<string>Americium</string>
		<key>code</key>
		<string>Am</string>
		<key>weight</key>
		<real>243</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>キュリウム</string>
		<key>enName</key>
		<string>Curium</string>
		<key>code</key>
		<string>Cm</string>
		<key>weight</key>
		<real>247</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>バークリウム</string>
		<key>enName</key>
		<string>Berkelium</string>
		<key>code</key>
		<string>Bk</string>
		<key>weight</key>
		<real>247</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>カリホルニウム</string>
		<key>enName</key>
		<string>Californium</string>
		<key>code</key>
		<string>Cf</string>
		<key>weight</key>
		<real>252</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>アインスタイニウム</string>
		<key>enName</key>
		<string>Einsteinium</string>
		<key>code</key>
		<string>Es</string>
		<key>weight</key>
		<real>252</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>フェルミウム</string>
		<key>enName</key>
		<string>Fernium</string>
		<key>code</key>
		<string>Fm</string>
		<key>weight</key>
		<real>257</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>メンデレビウム</string>
		<key>enName</key>
		<string>Mendelevium</string>
		<key>code</key>
		<string>Md</string>
		<key>weight</key>
		<real>256</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ノーベリウム</string>
		<key>enName</key>
		<string>Nodelium</string>
		<key>code</key>
		<string>No</string>
		<key>weight</key>
		<real>259</real>
	</dict>
	<dict>
		<key>jpName</key>
		<string>ローレンシウム</string>
		<key>enName</key>
		<string>Lawrencium</string>
		<key>code</key>
		<string>Lr</string>
		<key>weight</key>
		<real>260</real>
	</dict>
</array>
</plist>
